*{
	padding: 0;
	margin: 0;
}
.head{
	height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
}
.heads {
    padding-top: 20px;
}
.logo{
	position: absolute;
	float: left;
	width: 120px;
    height: 40px;
    left: 155px;
}
.share {
	position: absolute;
    float: right;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #31c27c;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    right: 155px;
    text-decoration:none;
}
.other {
	position: absolute;
    font-size: 20px;
    line-height: 40px;
    float: right;
    color: #ffffff;
      right: 299px;
      text-decoration:none;
}
.one {
    height:970px;
    position: relative;
}
.ones {
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -500px;
}
.bgs {
    width: 100%;
    height: 984px;
    position: relative;
    top: 0;
    left: 0;
}

.bgs li {
    position: absolute;
}
.appdownload {
    z-index: 5;
    position: absolute;
    top: 305px;
    left: 577px;
}
.download {
    z-index: 10;
    display: block;
    height: 0px;
    line-height: 70px;
    text-align: center;
    font-size: 36px;
    color: #000;
    border: 2px solid #000;
    border-radius: 70px;
    text-decoration:none;
}
.qingting {
    z-index: 10;
    width: 363px;
    height: 0px;
    background: url("../img/img_qingting.png") no-repeat -453px -460px;
    margin: 30px 0;
}
.p1-pic{
	height: 0px;
}
.download:hover {
    background-color: #000;
    color: #ffffff;
}
.bg1{
	 opacity: 1;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url(../img/slideshow_pic_4.jpg) no-repeat center;
}
.bg2{
	opacity: 1;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../img/focus_banner_2.jpg) no-repeat center;
}
.bg3{
	  opacity: 1;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url(../img/focus_banner_3.jpg) no-repeat center;
}
.two{
	 height: 800px;
    background: url("../img/bg1.jpg") no-repeat center;
}
.twos{
	 height: 849px;
    position: relative;
    overflow: hidden;
}
.ttext{
	position: absolute;
    top: 368px;
    left: 16%;
    width: 451px;
    height: 195px;
    background: url("../img/img_qingting.png") no-repeat 0 -460px;
}
.tphone{
	width: 420px;
    height:680px;
    position: absolute;
    right: 200px;
    bottom: 50px;
    background: url("../img/mobile_1.png") no-repeat;
}
.tphone ul{
	position: absolute;
    width: 377px;
    height: 600px;
    top: 66px;
    left: 23px;
}
.tphone li{
	 position: absolute;
    width: 377px;
    height: 600px;
    top: 0;
    left: 0;
}
.tphone li img{
	 width: 377px;
	 height: 614px;
}
.pbg1 {
    z-index: 2;
    opacity: 1;
}

.pbg2 {
    z-index: 1;
    opacity: 1;
}

.pbg3 {
    z-index: 0;
    opacity: 1;
}
.three{
	 height: 1635px;
     background: url("../img/bg.jpg") no-repeat center;
}
.threes{
	 height: 636px;
    position: relative;
}
.three1 {
    position: absolute;
    top: 161px;
    left: 180px;
    display: none;
}

.three2 {
    position: absolute;
    top: 161px;
    left: 330px;
    display: none;
}

.three3 {
    position: absolute;
    top: 161px;
    left: 527px;
    display: none;
}
.threes1{
	 height: 862px;
}
.threetxt {
    width: 861px;
    height: 132px;
    margin: 30px auto 160px;
    background: url("../img/img_qingting.png") no-repeat;
    display: none;
}
.threepic img{
	display: none;
}
.threes1 img{
	margin-left: 65px;
}
.four {
    height: 850px;
    background: url("../img/bg4.jpg") no-repeat center;
  position: relative;
}

.fours {
    position: absolute;
    top: -137px;
    height: 850px;
    left: 50%;
    margin-left: -500px;
}

.fourmobile {
    position: absolute;
    left: 80px;
   top: 153px;
    height: 737px;
    width: 423px;
    background: url("../img/mobile_2.png") no-repeat;
}

.fourtxt{
    position: absolute;
    left: 500px;
    top: 311px;
    width: 549px;
    height: 195px;
    background: url("../img/img_qingting.png") no-repeat 0 -263px;
}
.five {
	position: relative;
    height: 850px;
    background: url("../img/bg5.jpg") no-repeat center;
    top: -96px;
    
}

.fives {
    position: relative;
    height: 850px;
    overflow: hidden;
}

.fivetxt {
    position: absolute;
    left: 220px;
    top: 376px;
    width: 452px;
    height: 155px;
    background: url("../img/img_qingting.png") no-repeat 0 -657px;
}

.fivemobile{
    position: absolute;
    width: 477px;
    height: 736px;
    right: 260px;
    bottom: 0;
    background: url("../img/mobile_3.png");
}

.fivemobile ul {
    position: absolute;
    width: 376px;
    height: 699px;
    top: 93px;
    left: 50px;
}

.fivemobile li {
    position: absolute;
    width: 376px;
    height: 699px;
    top: 0;
    left: 0;
}

.mapping1 {
    z-index: 2;
    opacity: 1;
}

.mapping2 {
    z-index: 1;
    opacity: 1;
}

.mapping3 {
    z-index: 0;
    opacity: 1;
}
.six {
	position: relative;
    height: 929px;
    background: url("../img/bg6.jpg") no-repeat center;
    top: -96px;
}

.sixs {
    height: 929px;
    position: relative;
}

.voices {
    position: absolute;
    width: 912px;
    height: 473px;
    overflow: hidden;
    top: 140px;
    left: 50%;
    margin-left: -437px;
}

.voices li {
    float: left;
    width: 188px;
    overflow: hidden;
    margin-right: 40px;
}

.voices li img {
    width: 188px;
  
    
}
.play 
{
	  animation:fangda 2s ;
}
@keyframes fangda{
			0%{
					 transform: scale(0);
			}
			
			100%{transform: scale(1);}
		}
.sixtxt {
    position: absolute;
    width: 857px;
    height: 127px;
    bottom: 170px;
    left: 50%;
    margin-left: -430px;
    background: url("../img/img_qingting.png") no-repeat 0 -134px;
}

.sixknowmore {
    position: absolute;
    width: 138px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    top: 790px;
    left: 50%;
    margin-left: -69px;
    text-decoration:none;
}

.sixknowmore:hover {
    background-color: #fff;
    color: #283148;
}
.seven {
	   position: relative;
    height: 537px;
    background-color: #000000;
    top: -100px;
}

.sevens {
    position: relative;
    overflow: hidden;
    height: 537px;
}

.seventxt {
    position: absolute;
    width: 498px;
    height: 49px;
    top: 198px;
    left: 50%;
    margin-left: -249px;
    background: url("../img/img_qingting.png") no-repeat -863px 0;
}

.sevendownload {
    display: block;
    width: 320px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    border-radius: 80px;
    font-size: 34px;
    margin: 285px auto 0;
    text-align: center;
    background: #31c27c;
}

.sevendownload:hover {
    background-color: #fff;
    color: #31c27c;
}
